<div class="mainHome">
    <div class="left"><img src="./img/omar.png" alt="Omar Avalos"></div>
    <div class="right">
        <h1>Hello!</h1>
        <p>I'm <strong>Omar Avalos</strong> and I am glad you found me somehow.<br />
I am a <strong>fullstack developer</strong> and <strong>architecture practitioner</strong> from León, México, self-thaught musician and tech and design passionate.<br />
Let me show you what i can do...</p>
    </div>
<div class="flecha">
    <a href="/who">NEXT</a>
</div>
</div>
